/* global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* variable */
:root {
  --primary-color: #6a7b8b;
  --secondary-color: #bbc2c9;
  --background-color: #f5f5f5;
  --text-color: #5c5b5b;
  --white: #fff;
}
/* body */
main {
  max-width: 960px;
  margin: 0 auto;
}
body {
  background-color: var(--background-color);
}
.nav-bar {
  background-color: var(--primary-color);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-lmg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding: 1rem;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  margin-left: 2rem;
  font-weight: 700;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: var(--white);
}
header img {
  width: 10rem;
}
/* body {
  width: 100vw;
} */
/* main */
.hero-image {
  position: relative;
  display: flex;
  flex-direction: column;
}
#coffee-img {
  /* width: 90%; */
  /* height: 90%; */
}
.hero-image h1 {
  position: absolute;
  top: 10%;
  left: 20%;
  color: var(--white);
  text-shadow: 2px 2px 2px #000;
}
/* footer */
footer {
  /* align-self: flex-end; */
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
.footer-logo {
  grid-column-start: 1;
  grid-column-end: 1;
  width: 3rem;
  margin: 1rem;
}
.socials {
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: center;
}
.socials p {
  margin-top: 1rem;
}
.socials img {
  width: 2rem;
  margin: 1rem;
}
/* The home page */
.coffee-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* align-items: center; */
  /* border: 2rem solid coral; */
}
/* section part --- */
.main-section {
  text-align: center;
  margin: 2rem 0;
  /* padding: 2rem; */
}
.main-section button {
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  padding: 1rem 1rem;
}
.choice {
  width: 30%;
  background: var(--primary-color);
  text-align: center;
  padding: 3rem;
}
.choice img {
  width: 100px;
  margin-bottom: 15px;
}
.choice h3 {
  color: var(--white);
  /* text-shadow: 2px 2px 2px #000; */
}
.choice p {
  color: var(--white);
}
@media screen and (max-width: 400px) {
  .choice {
    width: 100%;
  }
}
/* Section part ends */
/* program-introduction box for the home page*/
.program-introduction {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 1rem red solid; */
}
.open-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.open-intro img {
  width: 5rem;
  margin-right: 1rem;
}
.open-detail {
  display: flex;
  flex-direction: row;
  /* align-self: start; */
  padding-bottom: 2rem;
  justify-content: space-between;
  /* border: blue 1rem solid; */
  align-items: stretch;
}
.intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  justify-content: space-around;
}
strong {
  font-weight: bold;
}
.detail {
  margin-top: 2rem;
}

.intro p {
  font-size: large;
}
section p {
  font-size: large;
}

.reminder {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: large;
}
@media screen and (max-width: 760px) {
  html {
    font-size: 14px;
  }
  .coffee-choices {
    flex-direction: column;
    align-items: center;
  }
  .choice {
    margin-bottom: 25px;
    width: 60%;
    padding: 40px;
  }
  .open-detail {
    flex-direction: column;
  }
  .intro {
    width: 100%;
  }
}

/* for the about page */
.about-section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-bottom: 4rem;
}
.about-section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem 0rem;
}
.about-section1 img {
  width: 45%;
}
#main-pictureone {
  padding-left: 5rem;
}
#main-pictureonetwo {
  padding-right: 5rem;
}
#section-about-page {
  margin-bottom: 2rem 0rem;
  padding-bottom: 3rem;
}

.about-content {
  /* padding: 2rem; */
  color: --var(--text-color);
  justify-content: center;
  font-size: large;
}
.about-content p {
  padding-top: 2rem;
}
/* add the media adjustment for the mobile device */
@media screen and (max-width: 760px) {
  html {
    font-size: 14px;
  }
  .about-section1 {
    display: flex;
    flex-direction: column;
  }
  .about-section1 img {
    width: 100%;
  }
  #main-pictureone {
    padding-left: 0rem;
  }
  #main-pictureonetwo {
    padding-right: 0rem;
  }
  /* to avoid the confustion, change the order of the picture, so the structure would be 
  content -image of those two parts of main sections  */
  #section2 {
    flex-direction: column-reverse;
  }
}

/* css for the form */
input,
label {
  width: 100%;
  display: block;
  height: 2rem;
}
input,
textarea {
  background-color: var(--secondary-color);
}
textarea {
  width: 100%;
}
/* The contact page style */
.contact-page {
  display: flex;
  justify-content: center;
  margin: 3rem 3rem;
  flex-direction: column;
}
.formtitle {
  text-align: center;
}
.contact-title {
  text-align: center;
}
.contact-detail {
  margin: 3rem 0rem;
}
.contact-detail p {
  margin: 1rem 0rem;
  font-weight: 700;
}
contact-map {
  display: block;
  margin: auto;
  width: 90%;
}
/* form style */
#myModel {
  display: none;
  display: flex;
  width: 75vh;
  height: 50vh;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  /* padding: 20px; */
  background: white;
  text-align: center;
  border-radius: 15px;
  min-height: 45vh;
  overflow: scroll;
  /* margin: auto; */
  /* pointer-events: all; */
}
.model > * {
  margin: 20px 0;
}
#modelimg {
  width: 3rem;
}
.modelheader {
  display: flex;
  flex-direction: row;
  /* margin-left: 2rem; */
  justify-content: center;
  justify-content: left;
}
.modelheader > * {
  margin-left: 2rem;
  text-align: center;
}
.modelheadertext {
  /* margin: 2rem 1rem; */
  font-weight: bold;
  font-size: larger;
}
.modelheadertext > p {
  margin-bottom: 1rem;
  margin-left: 2rem;
  text-align: center;
}
.formbutton {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 2rem;
  width: fit-content;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.modelbutton {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 1rem;
}
.modelbody {
  font-weight: bold;
  padding: 0rem 3rem;
  width: 90%;
  line-height: 23pt;
  text-align: left;
  /* padding: 1rem;
  width: 80%; */
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.hidden {
  display: none;
}
/* body.model-active {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* pointer-events: none; 
} */
